.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
}

#calendar {
    width: 80%;
    font-family: 'Lato', sans-serif;
}